*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
    transition: transform 0.3s ease
}

h3 {font-size: 2em;}
h5 {font-size: 1.5em;}
p {font-size: 1em;}
ul {list-style-type: none;}


    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
        height: 312px;
        
    }

    .logo{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(242, 239, 239, 0.805),
        rgba(255, 255, 255, 0.892)
    )
    ,url(/img/fonf.jpg);
}

   .logo img{
     height: 100%;
    
   }

    .menu{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        background-color:rgba(151, 151, 242, 0.5);
        border: 2px solid black;
        width: 100vw;
        height: auto;
    }

    .li{
       margin: 0px;
       padding: 10px;
       list-style-type: none;
    }

/*FIN ENCABEZADO*/

main{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(
        0deg,
        rgba(242, 239, 239, 0.805),
        rgba(255, 255, 255, 0.892)
    )
    ,url(/img/fonf.jpg);
   
    background-repeat: repeat;
    
}

.titulo{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/perro4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(255, 255, 255);
    border-radius: 5pc;

}
.titulo h1{
    text-align: center;
    font-size: 3em;
}
/*FIN MAIN*/
