*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
    transition: transform 0.3s ease
}

h3 {font-size: 2em;}
h5 {font-size: 1.5em;}
p {font-size: 1em;}
ul {list-style-type: none;}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 312px;
    background: rgb(148, 255, 18);
}
main{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(
        0deg,
        rgba(242, 239, 239, 0.805),
        rgba(255, 255, 255, 0.892)
    )
    ,url(/img/fonf.jpg);
   
    background-repeat: repeat;
    
}

.titulo{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/perro4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(255, 255, 255);
    border-radius: 5pc;

}
.titulo h1{
    text-align: center;
    font-size: 3em;
} 

/*REQISITOS*/

#requisito{
  height: 100vh;
  margin-top: 110px;
 display: flex;
 flex-direction: column;
   background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/img/perro5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(255, 255, 255);
 
}

#requisito h3{
    margin: 10px;
}

.requisito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.importante{
    width: 80vw;
   padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: solid 1px beige;
    background-color:brown;
}

/*fin requisits*/

/*TEMA*/

#temas{
    height: 3600px;
    padding: 300px 10px;
    
}

.div-temas{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
}


    /*ART1 ES PARA TEMA Y PARA OTRS TEMA*/
.art1{
    margin: 10px;
    padding: 10px 10px;
    background:rgba(151, 151, 242, 0.5);
   

}

#temas h3{
    text-align: center;
    padding: 10px;
}

/*img castracuion*/
.div-cast{
   margin: 5px;
    overflow: hidden;
}

.img-cast{
    max-width: 100%;
}

/*img lluvia*/
.div-lluvia{
   margin: 5px;
    overflow: hidden;
    
}

.img-lluvia{
    max-width: 100%;
}

/*img inviern*/
.div-inv{
     margin: 5px;
    overflow: hidden;
}

.img-inv{
    width: 90vw;
    max-width: 100%
    
}

/*img verano*/
.div-ver{
     margin: 5px;
    overflow: hidden;   
}

.img-ver{
    width: 90vw;
    max-width: 100%
}
/*img hora*/
.div-hora{
   margin: 5px;
    overflow: hidden;
}

.img-hora{
     width: 90vw;
    max-width: 100%;
}

/*fin tema*/

/* OTROS*/

#otros{
  height: 250vh;
  padding: 300px 5px;
  overflow: hidden;
}


#otros h3{
    text-align: center;
    padding: 10px;

}

/* FIN OTROS*/
/* IMPORTANTE*/
#importante{
  height: 30%;
  padding: 30px;
  background-color: rgb(165, 42, 42);
  color: beige;

}

#importante h3 {
 text-align: center;
}

/* FIN IMPORTANTe*/
#preguntas{
  padding: 200px 5px;
}




/*Estilos para pag min 801px*/
@media screen and (min-width: 750px)and (max-width:1024px){
#requisito{
    height: 50%;
      padding-left: 50%;
 display: flex;
 flex-direction: column;
 overflow: hidden;

}

.requisito{
   padding: 10px ;
}
.importante{
    width: 100%;
    padding: 10px;
}

/*fin reqisits*/
/*TEMAS*/
#temas{
 height: 50%;
 padding: 10px 10px;
}

.art1{
    width: 500px;
}
/*FIN TEMA*/
/*OTRS*/


.div-otros{
     display: flex;
     justify-content: space-evenly;
}
}

/*FIN OTROS*/


/*Estilos para pag min 1025px*/
@media screen and (min-width: 1025px){

#requisito{
    height: 50%;
      padding-left: 50%;
 display: flex;
 flex-direction: column;
 overflow: hidden;
}

.requisito{
   padding: 10px ;
}
.importante{
    width: 100%;
    padding: 10px;
}

/*fin reqisits*/
/*TEMAS*/
#temas{
 height: 50%;

}

.art1{
    width: 700px;
}
/*FIN TEMA*/
/*OTRS*/


.div-otros{
     display: flex;
     justify-content: space-evenly;
}

/*FIN OTROS*/

}